# Exclude these files from source distributions.
# setuptools_scm includes everything else by default.
prune .github
prune data
prune doc
prune paper
exclude .*.yml
exclude .*rc
exclude requirements*.txt
exclude Makefile
exclude .gitignore
exclude .gitattributes
exclude environment.yml
