# Exclude these files from source distributions.
# setuptools_scm includes everything else by default.
prune .github
prune data
prune doc
prune env
prune paper
prune tools
exclude .*.yml
exclude .*rc
exclude Makefile
exclude .gitignore
exclude .gitattributes
exclude environment.yml
include pooch/tests/data
