# Exclude these files from source distributions.
# setuptools_scm includes everything else by default.
prune .github
prune data
prune doc
prune env
prune paper
exclude .*.yml
exclude .*rc
exclude Makefile
exclude .gitignore
exclude .gitattributes
exclude environment.yml
exclude license_notice.py
