# Linting and style checks with GitHub Actions
#
# NOTE: Pin actions to a specific commit to avoid having the authentication
# token stolen if the Action is compromised. See the comments and links here:
# https://github.com/pypa/gh-action-pypi-publish/issues/27
#
name: checks

# Only build PRs and the main branch. Pushes to branches will only be built
# when a PR is opened.
on:
  pull_request:
  push:
    branches:
      - main

###############################################################################
jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"

      - name: Install requirements
        run: python -m pip install -r env/requirements-style.txt

      - name: List installed packages
        run: python -m pip freeze

      - name: Check code format
        run: make check-format

  style:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"

      - name: Install requirements
        run: python -m pip install -r env/requirements-style.txt

      - name: List installed packages
        run: python -m pip freeze

      - name: Check code style
        run: make check-style lint

  types:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"

      - name: Install requirements
        run: python -m pip install -r env/requirements-types.txt

      - name: List installed packages
        run: python -m pip freeze

      - name: Check code style
        run: make check-types
